<div id="<%= dom_id league_membership %>">
  <p>
    <strong>League:</strong>
    <%= league_membership.league_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= league_membership.user_id %>
  </p>

</div>
