<div id="<%= dom_id season_entry_team_entry %>">
  <p>
    <strong>Season entry team:</strong>
    <%= season_entry_team_entry.season_entry_team_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= season_entry_team_entry.type %>
  </p>

</div>
