<h1>Editing season entry team entry</h1>

<%= render "form", season_entry_team_entry: @season_entry_team_entry %>

<br>

<div>
  <%= link_to "Show this season entry team entry", @season_entry_team_entry %> |
  <%= link_to "Back to season entry team entries", season_entry_team_entries_path %>
</div>
