<div id="<%= dom_id season_entry %>">
  <p>
    <strong>Season:</strong>
    <%= season_entry.season_id %>
  </p>

  <p>
    <strong>League membership:</strong>
    <%= season_entry.league_membership_id %>
  </p>

</div>
