<h1>Editing season entry</h1>

<%= render "form", season_entry: @season_entry %>

<br>

<div>
  <%= link_to "Show this season entry", @season_entry %> |
  <%= link_to "Back to season entries", season_entries_path %>
</div>
